.about {
  padding-top: 100px;
  background: var(--main-color);
  &__picture {
    margin: 0 auto;
    text-align: center;
    & img {
      max-width: 100%;
    }
  }
  &__heading {
    margin: auto;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;
    color: var(--second-color);
    & h1 {
      font-family: 'Palanquin', sans-serif;
      font-weight: 700;
    }
    & h3 {
      padding: 3rem 0 4rem 0;
    }
  }
  &__button {
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--third-color);
    padding: 18px 50px;
    color: var(--third-color);
    border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s ease-in 0s;
    &:hover {
      background: var(--third-color);
      color: var(--main-color);
      text-decoration: none;
    }
  }
}
